{% extends 'html/command_center_base.html' %}

{% block content %}
    <!-- Row -->
    <div class="table-struct full-width full-height">
        <div class="table-cell vertical-align-middle auth-form-wrap">
            <div class="auth-form  ml-auto mr-auto no-float">
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <div class="mb-30">
                            <span class="block error-head text-center txt-primary mb-10">500</span>
                            <span class="text-center nonecase-font mb-20 block error-comment">Oops! Internal Server Error</span>
                            <p class="text-center">There was an Error. Please try again later. That's all we know.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}