<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login - </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <link href="css/loginStyle.css" rel="stylesheet">
</head>

<body>

    <div class="wrapper fadeInDown">
        <div id="formContent">

            <!-- Icon -->
            <div class="fadeIn first mb-3">
                <img src="imgs/ccsit_logo.png" id="icon" alt="CSS Icon" />
            </div>

            <!-- Login Form -->
            <form action="API/authenticationAPI.php" method="post">
                <input type="text" class="fadeIn second mt-2" name="id" placeholder="ID/Username" required>
                <input type="password" class="fadeIn third mt-2" name="password" placeholder="Password" required>

                <input type="submit" name="loginSubmit" class="fadeIn fourth mt-3" value="Log In">

                            </form>

            <!-- IN FOOTER -->
            <div id="formFooter">
                <div style="display: inline; float: left;">
                    <a class="underlineHover ml-5" href="">Create new account</a>
                </div>
                <a class="underlineHover" href="">Forgot Password?</a>
<!--                <a class="underlineHover" href="Registration/test.php">registration test</a>-->
            </div>
        </div>
    </div>
    </div>
</body>

</html>