{% extends 'html/command_center_base.html' %}
{% load static %}
{% block content %}
    <!-- Title -->
    <div class="row heading-bg">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h5 class="txt-dark">Add Truck</h5>
        </div>
        <!-- Breadcrumb -->
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
            <ol class="breadcrumb">
                <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                <li class="active"><span>Add Truck</span></li>
            </ol>
        </div>
        <!-- /Breadcrumb -->

    </div>
    <!-- /Title -->





    <!-- Row -->
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default card-view">
                <div class="panel-heading">
                    <div class="pull-left">
                        <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-account mr-10"></i>Vehicle's Info</h6>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-wrapper collapse in">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12 col-xs-12">
                                <div class="form-wrap">
                                    <form action="../add_truck/" method="POST">
                                        {% csrf_token %}
                                        <div class="form-body">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">ID</label>
                                                        <input type="text" id="TruckID" class="form-control" style="color: black"
                                                               placeholder="Please Enter Truck ID" name="id" value="{{ id }}" readonly="readonly">
                                                        <span class="help-block"> This Field Is Auto Filled </span>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">Type</label>
                                                        <select class="form-control" name="type"
                                                                data-placeholder="Choose a Category" tabindex="1">
                                                            <option value="Collection Truck">Collection Truck</option>
                                                            <option value="Cleaning Truck">Cleaning Truck</option>
                                                            <option value="Heavy loading Truck">Heavy loading Truck</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                            </div>
                                            <!-- /Row -->
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">Truck Model</label>
                                                        <input type="text" id="TruckModel" class="form-control"
                                                               placeholder="Please Enter Truck Model" name="model">
                                                    </div>
                                                </div>
                                                <!--/span-->
                                               <div class="col-md-6">
                                                        <label class="control-label mb-10">Odometer Reading </label>
                                                        <input type="text" id="OdometerReading" class="form-control"
                                                               placeholder="Please Enter The Odometer Reading" name="odomtr">
                                                    </div>
                                                <!--/span-->
                                            </div>
                                            <!-- /Row -->
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">Plate Number</label>
                                                        <input type="text" id="NumberPlate" class="form-control"
                                                               placeholder="Please Enter Number Plate" name="plate">
                                                    </div>
                                                </div>
                                                <!--/span-->

                                                </div>
                                                <!--/span-->
                                            </div>
                                            <!-- /Row -->


                                            <div class="seprator-block"></div>
                                            <hr class="light-grey-hr"/>
                                            <div class="form-actions mt-10">
                                                <button class="btn btn-success btn-anim"><i
                                                        class="icon-rocket"></i><span class="btn-text">Save</span>
                                                </button>
                                                <button class="btn btn-danger btn-anim"><i
                                                        class="zmdi zmdi-close"></i><span class="btn-text">Cancel</span>
                                                </button>
                                            </div>

                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Row -->




{% endblock content %}