{% extends 'html/command_center_base.html' %}
{% load static %}
{% block content %}
    <!-- Title -->
    <div class="row heading-bg">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h5 class="txt-dark">Add Team</h5>
        </div>

        <!-- Breadcrumb -->
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
            <ol class="breadcrumb">
                <li><a href="{% url 'dashboard' %}">Home</a></li>
                <li class="active"><span>Add Team</span></li>
            </ol>
        </div>
        <!-- /Breadcrumb -->

    </div>
    <!-- /Title -->





    <!-- Row -->
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default card-view">
                <div class="panel-heading">
                    <div class="pull-left">
                        <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-account mr-10"></i>Team info</h6>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-wrapper collapse in">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12 col-xs-12">
                                <div class="form-wrap">
                                    <form action="#">
                                        <div class="form-body">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">ID</label>
                                                        <input type="text" id="EmployeeID" class="form-control"
                                                               placeholder="Please Enter The First Name">
                                                        <span class="help-block"> This Field Is Auto Filled </span>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">Team Leader</label>
                                                        <select class="form-control"
                                                                data-placeholder="Choose a Category" tabindex="1">
                                                            <option value="Category 1">Category 1</option>
                                                            <option value="Category 2">Category 2</option>
                                                            <option value="Category 3">Category 5</option>
                                                            <option value="Category 4">Category 4</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                            </div>
                                            <!-- /Row -->
                                            <hr class="light-grey-hr">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">Add Worker</label>
                                                        <select class="form-control"
                                                                data-placeholder="Choose a Category" tabindex="1">
                                                            <option value="Category 1">Category 1</option>
                                                            <option value="Category 2">Category 2</option>
                                                            <option value="Category 3">Category 5</option>
                                                            <option value="Category 4">Category 4</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">Role</label>
                                                        <select class="form-control"
                                                                data-placeholder="Choose a Category" tabindex="1">
                                                            <option value="Category 1">Select Role</option>
                                                            <option value="Category 2">Driver</option>
                                                            <option value="Category 3">Cleaner</option>
                                                            <option value="Category 4">Collector</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                            </div>
                                            <!-- /Row -->
                                            <hr class="light-grey-hr">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">Add Worker</label>
                                                        <select class="form-control"
                                                                data-placeholder="Choose a Category" tabindex="1">
                                                            <option value="Category 1">Category 1</option>
                                                            <option value="Category 2">Category 2</option>
                                                            <option value="Category 3">Category 5</option>
                                                            <option value="Category 4">Category 4</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">Role</label>
                                                        <select class="form-control"
                                                                data-placeholder="Choose a Category" tabindex="1">
                                                            <option value="Category 1">Select Role</option>
                                                            <option value="Category 2">Driver</option>
                                                            <option value="Category 3">Cleaner</option>
                                                            <option value="Category 4">Collector</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                            </div>
                                            <!-- /Row -->
                                            <hr class="light-grey-hr">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">Add Worker</label>
                                                        <select class="form-control"
                                                                data-placeholder="Choose a Category" tabindex="1">
                                                            <option value="Category 1">Category 1</option>
                                                            <option value="Category 2">Category 2</option>
                                                            <option value="Category 3">Category 5</option>
                                                            <option value="Category 4">Category 4</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">Role</label>
                                                        <select class="form-control"
                                                                data-placeholder="Choose a Category" tabindex="1">
                                                            <option value="Category 1">Select Role</option>
                                                            <option value="Category 2">Driver</option>
                                                            <option value="Category 3">Cleaner</option>
                                                            <option value="Category 4">Collector</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                            </div>
                                            <!-- /Row -->
                                            <hr class="light-grey-hr">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">Add Worker</label>
                                                        <select class="form-control"
                                                                data-placeholder="Choose a Category" tabindex="1">
                                                            <option value="Category 1">Category 1</option>
                                                            <option value="Category 2">Category 2</option>
                                                            <option value="Category 3">Category 5</option>
                                                            <option value="Category 4">Category 4</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">Role</label>
                                                        <select class="form-control"
                                                                data-placeholder="Choose a Category" tabindex="1">
                                                            <option value="Category 1">Select Role</option>
                                                            <option value="Category 2">Driver</option>
                                                            <option value="Category 3">Cleaner</option>
                                                            <option value="Category 4">Collector</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                            </div>
                                            <!-- /Row -->
                                            <hr class="light-grey-hr">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">Add Worker</label>
                                                        <select class="form-control"
                                                                data-placeholder="Choose a Category" tabindex="1">
                                                            <option value="Category 1">Category 1</option>
                                                            <option value="Category 2">Category 2</option>
                                                            <option value="Category 3">Category 5</option>
                                                            <option value="Category 4">Category 4</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">Role</label>
                                                        <select class="form-control"
                                                                data-placeholder="Choose a Category" tabindex="1">
                                                            <option value="Category 1">Select Role</option>
                                                            <option value="Category 2">Driver</option>
                                                            <option value="Category 3">Cleaner</option>
                                                            <option value="Category 4">Collector</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                            </div>
                                            <!-- /Row -->


                                        </div>
                                        <div class="form-actions mt-10">
                                            <button class="btn btn-success btn-anim"><i class="icon-rocket"></i><span
                                                    class="btn-text">Save</span></button>
                                            <button class="btn btn-danger btn-anim"><i class="zmdi zmdi-close"></i><span
                                                    class="btn-text">Cancel</span></button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Row -->



{% endblock content %}