{% extends 'html/command_center_base.html' %}
{% load static %}
{% block content %}
    <!-- Preloader -->
    <div class="preloader-it">
        <div class="la-anim-1"></div>
    </div>
    <!-- /Preloader -->
    <!-- Row -->
    <div class="row">

        <!-- Total users  -->
        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12 no-gutters">
            <div class="panel panel-default card-view pa-0">
                <div class="panel-wrapper collapse in">
                    <div class="panel-body pa-0">
                        <div class="sm-data-box">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-xs-6 text-center pl-0 pr-0 data-wrap-left">
                                        <span class="txt-dark block counter"><span
                                                class="counter-anim">{{ userCount }}</span></span>
                                        <span class="weight-500 uppercase-font block font-13">total users</span>
                                    </div>
                                    <div class="col-xs-6 text-center  pl-0 pr-0 data-wrap-right">
                                        <i class="icon-user-following data-right-rep-icon txt-light-grey"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Total emp  -->
        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
            <div class="panel panel-default card-view pa-0">
                <div class="panel-wrapper collapse in">
                    <div class="panel-body pa-0">
                        <div class="sm-data-box">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-xs-6 text-center pl-0 pr-0 data-wrap-left">
                                        <span class="txt-dark block counter"><span
                                                class="counter-anim">{{ empCount }}</span></span>
                                        <span class="weight-500 uppercase-font block font-13">total employees</span>
                                    </div>
                                    <div class="col-xs-6 text-center  pl-0 pr-0 data-wrap-right">
                                        <i class="icon-user-following data-right-rep-icon txt-light-grey"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Total worker  -->
        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
            <div class="panel panel-default card-view pa-0">
                <div class="panel-wrapper collapse in">
                    <div class="panel-body pa-0">
                        <div class="sm-data-box">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-xs-6 text-center pl-0 pr-0 data-wrap-left">
                                        <span class="txt-dark block counter"><span
                                                class="counter-anim">{{ workersCount }}</span></span>
                                        <span class="weight-500 uppercase-font block font-13">total workers</span>
                                    </div>
                                    <div class="col-xs-6 text-center  pl-0 pr-0 data-wrap-right">
                                        <i class="icon-people data-right-rep-icon txt-light-grey"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!--TOTAL CONTAINERS-->
        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
            <div class="panel panel-default card-view pa-0">
                <div class="panel-wrapper collapse in">
                    <div class="panel-body pa-0">
                        <div class="sm-data-box">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-xs-6 text-center pl-0 pr-0 data-wrap-left">
                                        <span class="txt-dark block counter"><span
                                                class="counter-anim">{{ contCount }}</span></span>
                                        <span class="weight-500 uppercase-font block">Total Containers</span>
                                    </div>
                                    <div class="col-xs-6 text-center  pl-0 pr-0 data-wrap-right">
                                        <i class="icon-trash  data-right-rep-icon txt-light-grey"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--total Postcode-->
        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
            <div class="panel panel-default card-view pa-0">
                <div class="panel-wrapper collapse in">
                    <div class="panel-body pa-0">
                        <div class="sm-data-box">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-xs-6 text-center pl-0 pr-0 data-wrap-left">
                                    <span class="txt-dark block counter"><span
                                            class="counter-anim">{{ postCount }}</span></span>
                                        <span class="weight-500 uppercase-font block">Total Postcode</span>
                                    </div>
                                    <div class="col-xs-6 text-center  pl-0 pr-0 data-wrap-right">
                                        <i class="icon-layers data-right-rep-icon txt-light-grey"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--SCANNED CONTAINERS PER DAY-->
        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
            <div class="panel panel-default card-view pa-0">
                <div class="panel-wrapper collapse in">
                    <div class="panel-body pa-0">
                        <div class="sm-data-box">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-xs-6 text-center pl-0 pr-0 data-wrap-left">
                                    <span class="txt-dark block counter"><span
                                            class="counter-anim">{{ todayRecs }}</span></span>
                                        <span class="weight-500 uppercase-font block">Today SC</span>
                                    </div>
                                    <div class="col-xs-6 text-center  pl-0 pr-0 data-wrap-right">
                                        <i class="icon-clock data-right-rep-icon txt-light-grey"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


                <!--Postal Code/Container Count-->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="panel panel-default card-view panel-refresh relative">
                        <div class="refresh-container">
                            <div class="la-anim-1"></div>
                        </div>
                        <div class="panel-heading">
                            <div class="pull-left">
                                <h6 class="panel-title txt-dark">Postal Code/Container Count</h6>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-wrapper collapse in">
                            <div class="panel-body">
                                <canvas id="chart-scatter"></canvas>
                            </div>
                        </div>
                    </div>
                </div>

        {##}
        {#        <!--Postal Code/Container Count-->#}
        {#        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">#}
        {#            <div class="panel panel-default card-view panel-refresh relative">#}
        {#                <div class="refresh-container">#}
        {#                    <div class="la-anim-1"></div>#}
        {#                </div>#}
        {#                <div class="panel-heading">#}
        {#                    <div class="pull-left">#}
        {#                        <h6 class="panel-title txt-dark">Postal Code/Container Count</h6>#}
        {#                    </div>#}
        {#                    <div class="pull-right">#}
        {#                        <a href="#" class="pull-left inline-block refresh mr-15">#}
        {#                            <i class="zmdi zmdi-replay"></i>#}
        {#                        </a>#}
        {#                        <div class="pull-left inline-block dropdown">#}
        {#                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false"#}
        {#                               role="button"><i class="zmdi zmdi-more-vert"></i></a>#}
        {#                            <ul class="dropdown-menu bullet dropdown-menu-right" role="menu">#}
        {#                                <li role="presentation"><a href="javascript:void(0)" role="menuitem"><i#}
        {#                                        class="icon wb-reply" aria-hidden="true"></i>option 1</a></li>#}
        {#                                <li role="presentation"><a href="javascript:void(0)" role="menuitem"><i#}
        {#                                        class="icon wb-share" aria-hidden="true"></i>option 2</a></li>#}
        {#                                <li role="presentation"><a href="javascript:void(0)" role="menuitem"><i#}
        {#                                        class="icon wb-trash" aria-hidden="true"></i>option 3</a></li>#}
        {#                            </ul>#}
        {#                        </div>#}
        {#                    </div>#}
        {#                    <div class="clearfix"></div>#}
        {#                </div>#}
        {#                <div class="panel-wrapper collapse in">#}
        {#                    <div class="panel-body">#}
        {#                        <div id="e_chart_3" class="" style="height:348px;"></div>#}
        {#                        <div class="label-chatrs">#}
        {#                            <div class="inline-block mr-15">#}
        {#                                <span class="clabels inline-block bg-primary mr-5"></span>#}
        {#                                <span class="clabels-text font-12 inline-block txt-dark capitalize-font">Higher education</span>#}
        {#                            </div>#}
        {#                        </div>#}
        {#                    </div>#}
        {#                </div>#}
        {#            </div>#}
        {#        </div>#}
        {##}

        <!-- browser Stats -->
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="panel panel-default card-view">
                <div class="panel-heading">
                    <div class="pull-left">
                        <h6 class="panel-title txt-dark">browser stats</h6>
                    </div>
                    <div class="pull-right">
                        <a href="#" class="pull-left inline-block mr-15">
                            <i class="zmdi zmdi-download"></i>
                        </a>
                        <a href="#" class="pull-left inline-block close-panel" data-effect="fadeOut">
                            <i class="zmdi zmdi-close"></i>
                        </a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-wrapper collapse in">
                    <div class="panel-body row">
                        <div class="table-wrap sm-data-box-2">
                            <div class="table-responsive">
                                <table class="table  top-countries mb-0">
                                    <tbody>
                                    <tr>
                                        <td>
                                            <img src="{% static 'dist/img/country/saudi-arabia.png' %}" height="18"
                                                 width="31" alt="country">
                                            <span class="country-name txt-dark pl-15">Saudi Arabia</span>
                                        </td>
                                        <td class="text-right">
                                            <span class="badge badge-warning transparent-badge weight-500">{{ country.SA }} %</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>

                                            <img src="{% static 'dist/img/country/bangladesh.png' %}" height="18"
                                                 width="31" alt="country">
                                            <span class="country-name txt-dark pl-15">Bangladesh</span>
                                        </td>
                                        <td class="text-right">
                                            <span class="badge badge-danger transparent-badge weight-500">{{ country.bang }}%</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img src="{% static 'dist/img/country/india.png' %}" height="18" width="31"
                                                 alt="country">
                                            <span class="country-name txt-dark pl-15">India</span>
                                        </td>

                                        <td class="text-right">
                                            <span class="badge badge-info transparent-badge weight-500">{{ country.india }}%</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img src="{% static 'dist/img/country/pakistan.png' %}" height="18"
                                                 width="31" alt="country">
                                            <span class="country-name txt-dark pl-15">Pakistan</span>
                                        </td>
                                        <td class="text-right">
                                            <span class="badge badge-danger transparent-badge weight-500">{{ country.pak }}%</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img src="{% static 'dist/img/country/philippines.png' %}" height="18"
                                                 width="31" alt="country">
                                            <span class="country-name txt-dark pl-15">Philippines</span>
                                        </td>
                                        <td class="text-right">
                                            <span class="badge badge-primary transparent-badge weight-500">{{ country.phil }}%</span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="txt-dark">
                                            Other
                                        </td>

                                        <td class="text-right">
                                            <span class="badge badge-warning transparent-badge weight-500">{{ country.other }}%</span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- gender  -->
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 no-gutters">
            <div class="panel panel-default card-view  panel-refresh">
                <div class="refresh-container">
                    <div class="la-anim-1"></div>
                </div>
                <div class="panel-heading">
                    <div class="pull-left">
                        <h6 class="panel-title txt-dark">Gender Split</h6>
                    </div>
                    <div class="pull-right">
                        <a href="#" class="pull-left inline-block refresh mr-15">
                            <i class="zmdi zmdi-replay"></i>
                        </a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-wrapper collapse in">
                    <div class="panel-body">

                        <div class="label-chatrs">
                            <div class="">
                                <span class="clabels clabels-lg inline-block bg-blue mr-10 pull-left"></span>
                                <span class="clabels-text font-12 inline-block txt-dark capitalize-font pull-left"><span
                                        class="block font-16 weight-500 mb-5"><span
                                        class="counter-anim">{{ genders.males }}</span>%</span><span
                                        class="block txt-grey">Male</span></span>
                                <i class="big-rpsn-icon zmdi zmdi-male-alt pull-right txt-primary"></i>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <hr class="light-grey-hr row mt-10 mb-15"/>
                        <div class="label-chatrs">
                            <div class="">
                                <span class="clabels clabels-lg inline-block bg-skyblue mr-10 pull-left"></span>
                                <span class="clabels-text font-12 inline-block txt-dark capitalize-font pull-left"><span
                                        class="block font-16 weight-500 mb-5"><span
                                        class="counter-anim">{{ genders.females }}</span>%</span><span
                                        class="block txt-grey">Female</span></span>
                                <i class="big-rpsn-icon zmdi zmdi-female pull-right txt-skyblue"></i>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        var postList=[];
        var postArray = {{ analytics| safe }}
        var len = postArray.length;
              if (len != 0) {
                  while (len--) { //go to each json object
                   let jsonpost = postArray.pop()
                   let postcode={
                       postcode:jsonpost.pk,
                      count:jsonpost.fields.contCount
                   }
                    postList.push(postcode)
               }
          }

        var posty = []

        for(var i = 0; i <postList.length; ++i)
        {
           posty.push({
                    x:  postList[i].postcode,
                    y: postList[i].count
                    })
        }
        
        const data = {
            datasets: [{
                label: 'Scatter Dataset',
                data: posty,
                backgroundColor: 'rgb(255, 99, 132)'
            }],
        };


        const config = {
            type: 'scatter',
            data: data,
            options: {
                scales: {
                    x: {
                        type: 'linear',
                        position: 'bottom'
                    }
                }
            }
        };

        window.onload = function () {
            var ctx = document.getElementById('chart-scatter').getContext('2d');
            window.myPie = new Chart(ctx, config);
        };
    </script>
{% endblock content %}
