{% extends 'html/command_center_base.html' %}
{% load static %}
{% block content %}
    <!-- Preloader -->
    <div class="preloader-it">
        <div class="la-anim-1"></div>
    </div>
    <!-- /Preloader -->
    <!-- Row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default card-view">
                <div class="panel-heading">
                    <div class="pull-left">
                        <h6 class="panel-title txt-dark">Map</h6>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-wrapper collapse in">
                    <div class="panel-body">
                        <div id="mapid" style="height:900px; width: inherit;"></div>
                    </div>
                </div>

                <div id="info" class="col-6" style="display: inline; margin-right: 100%">Latitude:
                    25.389536871253537<br>
                    <div style="margin-left: 0.7%">Longitude:
                        49.5603236751334
                    </div>
                </div>

            </div>

        </div>

    </div>
    {% if 'All' != selectedMap %}
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default card-view">
                    <div class="panel-heading">
                        <div class="pull-left">
                            <h6 class="panel-title txt-dark">Trip Summary</h6>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="panel-wrapper collapse in">
                        <div class="panel-body">
                            <div class="form-wrap">
                                <form class="form-inline">
                                    <div class="panel-wrapper collapse in">
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12" id="trip_summary"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default card-view">
                    <div class="panel-heading">
                        <div class="pull-left">
                            <h6 class="panel-title txt-dark">Staff Members</h6>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="panel-wrapper collapse in">
                        <div class="panel-body">
                            <div class="form-wrap">
                                <form class="form-inline">
                                    <div class="panel-wrapper collapse in">
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12" id="staffMem">
                                        {% if  staff %}
                                            {% for i in staff %} {{ i }} <p>-----</p> {% endfor %}
                                        {% endif %}
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% endif %}


    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default card-view">
                <div class="panel-heading">
                    <div class="pull-left">
                        <h6 class="panel-title txt-dark">Generate Worker Maps</h6>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-wrapper collapse in">
                    <div class="panel-body">
                        <div class="row">
                            {% for message in messages %}
                                <div class="alert alert-success" role="alert">
                                    <h6 style="text-align: center"> {{ message }}</h6>
                                </div>
                            {% endfor %}
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                <label class="control-label mb-10">Number of worker per truck</label>
                                <input type="text" id="workerPerTruck" class="form-control"
                                       placeholder="Ex: 3" name="id" value="3">
                                <span class="help-block"> Number for each worker in one truck. </span>
                            </div>

                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                <label class="control-label mb-10">Lower bound</label>
                                <input type="text" id="lowerBound" class="form-control"
                                       placeholder="Ex: 15%" name="id" value="15%">
                                <span class="help-block"> Minimum percentage to serve each postcode. </span>

                            </div>

                            <div style="margin-top: 0.3in;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <button style="margin-right: 0.1in" type="button" onclick="freeUpWorkers()"
                                        id="freeWorkers"
                                        class="btn btn-danger btn-anim"><i class="fa fa-hand-paper-o"></i><span
                                        class="btn-text">Free Up Workers</span>
                                </button>
                                <button type="button" id="generateMaps" onclick="generateMaps()"
                                        class="btn btn-info btn-anim"><i
                                        class="fa fa-globe"></i><span class="btn-text">Generate Sectorized Maps</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default card-view">
                <div class="panel-heading">
                    <div class="pull-left">
                        <h6 class="panel-title txt-dark">Sectorized Maps</h6>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-wrapper collapse in">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-1 col-md-1 col-sm-6 col-xs-12">
                                <button style="margin-right: 0.1in" type="button" onclick="showMap('All')"
                                        class="btn btn-{% if selectedMap == 'All' %}success {% else %}primary{% endif %}"><span
                                        class="btn-text">All</span>
                                </button>
                            </div>
                            {% for truck in busyTrucksList %}
                                <div class="col-lg-1 col-md-1 col-sm-6 col-xs-12">
                                    <button style="margin-right: 0.1in" type="button"
                                            onclick="showMap({{ truck.veh_id }})"
                                            class="btn btn-{% if selectedMap == truck.veh_id %}success {% else %}primary{% endif %}"><span
                                            class="btn-text">T{{ truck.veh_id }}</span>
                                    </button>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        async function showMap(id) {
            await sendJsonByAjax(id, "setSelectedMap")
            await timeout(500)
            await window.location.reload(false);
        }

        async function generateMaps() {
            lowerBound = document.getElementById("lowerBound").value
            if (lowerBound[lowerBound.length - 1] != "%")
                lowerBound = lowerBound + "%"

            var result = await confirm("Are you sure you want to generate new maps?");
            if (result) {
                await sendJsonByAjax({
                    workerPerTruck: document.getElementById("workerPerTruck").value,
                    lowerBound: lowerBound,
                }, "generateSectorizedMaps");
                await timeout(500)
                await window.location.reload(false);
            }
        }

        async function freeUpWorkers() {
            var result = await confirm("Are you sure you want to free up all workers tasks?");
            if (result) {
                await sendRequestByAjax("freeUpWorkers");
                await timeout(500)
                await document.location.reload(true)
            }
        }

        let isLoading = false
        var pointsArr = []
        var pointArr = []
        const HERE_GEOCODER_API = ''
        //setup and load icons into array
        const colors = ['orange', 'yellow']//, 'gray', 'red', 'purple', 'green', 'blue']
        let icons = []
        for (let i = 0; i < 2; ++i) {
            icons[i] = {
                iconUrl: '../../static/imgs/containers/container_' + colors[i] + '.png',
                iconSize: [26, 26],
                iconAnchor: [20, 20],
            }
        }

        //creating the map
        var map = L.map('mapid', {
            center: [25.389536871253537, 49.5603236751334],
            zoom: 16
        });

        //include function to get marker
        L.Map.include({
            getMarkerById: function (id) {
                var marker = null;
                this.eachLayer(function (layer) {
                    if (layer instanceof L.Marker) {
                        if (layer.options.id === id) {
                            marker = layer;
                        }
                    }
                });
                return marker;
            }
        });

        // draw polygon in Amana
        let latlngsAmana = [[25.39005979913065, 49.55752265454977], [25.38815520107513, 49.55743145944325], [25.388207541442778, 49.561765909538735], [25.390854584270226, 49.56053316601356]]
        let amanaExit = [[25.3900481377995, 49.56115812063217], [25.39001421392065, 49.5610722899437], [25.389747668826697, 49.56115812063217], [25.389762207665182, 49.561292231082916]]
        let amanaEnter = [[25.39069753577986, 49.559243023395545], [25.3906393811618, 49.55929130315781], [25.390668458326445, 49.55944150686265], [25.390745998186674, 49.55944150686265]]

        L.polygon(latlngsAmana, {color: 'teal'}).addTo(map);
        L.polyline(amanaExit, {color: 'red'}).addTo(map);
        L.polyline(amanaEnter, {color: 'green'}).addTo(map);

        //creating tile
        atttribuation = '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/"';
        tileUrl = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
        var tiles = L.tileLayer(tileUrl, {atttribuation})

        tiles.addTo(map)

        async function timeout(ms) {
            return new Promise(resolve => setTimeout(resolve, ms));
        }

        async function getZipBylatlng(lat, lng) { //return int zip_code by using lat,lng\
            let url = "https://discover.search.hereapi.com/v1/discover?at=" +
                lat +
                "," + lng + "&q=" + lat +
                "," + lng +
                "&apiKey=" + HERE_GEOCODER_API;

            let zip_code = await retrieveAPIJson(url).then(async (value) => {
                    try {
                        return value.items.pop().address.postalCode
                    } catch (e) {
                        return 404
                    }
                }
            )
            return parseInt(zip_code);
        }

        //send data to db
        async function sendJsonByAjax(jsonObj, functionName) {
            var serializedData = JSON.stringify(jsonObj);
            $j.ajax({
                type: "POST",
                url: "ajax/post/" + functionName + "/",
                data: {
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                    serializedData
                },
                success: function (data) {
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }

        //really send and return data
        async function sendRetJsonByAjaxReally(jsonObj, functionName) {
            var serializedData = JSON.stringify(jsonObj);
            var data = await $j.ajax({
                type: "POST",
                url: "ajax/post/" + functionName + "/",
                data: {
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                    serializedData
                },
                success: function (data) {
                    return data
                },
                error: function (error) {
                    console.log(error);
                }
            });
            return data
        }

        //send request to db
        async function sendRequestByAjax(functionName) {
            $j.ajax({
                type: "POST",
                url: "ajax/request/" + functionName + "/",
                data: {csrfmiddlewaretoken: "{{ csrf_token }}"},
                success: function (data) {
                    //console.log(data)
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }

        async function getQrCode(id) {
            await sendRetJsonByAjax(id, "getQrCode")
        }

        //retrieve data from db
        async function fetchByAjax(functionName) {
            let returned_data = await
                $j.ajax({
                    type: "POST",
                    url: "ajax/fetch/" + functionName + "/",
                    data: {csrfmiddlewaretoken: "{{ csrf_token }}"},
                    success: function (data) {
                        return data
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            return returned_data;
        }

        async function create_container(e) { //save container data to database
            if (activeContainer) {
                //get zip code of the container
                loadingAnimation()
                let id = parseInt(await generate_container_id()) + 1
                let zipCode = await getZipBylatlng(e.latlng.lat, e.latlng.lng)
                //create object container
                let container = {
                    lat: e.latlng.lat,
                    lng: e.latlng.lng,
                    zip_code: zipCode,
                    cust_id: id
                }
                await sendJsonByAjax(container, "getContainer")

                loadingAnimation()
                await addMark(container, id); // create container and mark it in the map
            }
        }

        async function addMark(container, cust_id) {
            //select random number color between available colors
            const color = Math.floor(Math.random() * 2)
            //select icon from random color
            const iconContainer = L.icon(icons[color]);
            //creat mark layer
            var marker = L.marker([container.lat, container.lng], {
                icon: iconContainer,
                id: cust_id
            })

            marker.bindPopup('<h5 style="color: #0c0c0c">' + 'ID: ' + cust_id + '</h5>' + '<h5 style="color: #0c0c0c">' + 'Lat: ' + container.lat + '</h5>' + '<h5 style="color: #0c0c0c">' + 'Lng: '
                + container.lng + '</h5>' + '<svg alt="Click me" role="img" id="QrImg" onclick="getQrCode(' + cust_id + ')"><text x="80" y="60" class="heavy">Click to show QR code</text></svg>'+
                '<span style="color: #0c0c0c; font-size: 150%">'+'Code: '+container.codeNum + '</span>'+'<h5 style="color: #0c0c0c">' + 'Postcode: ' + container.zip_code + '</h5>'+'<h5 style="color: #0c0c0c">' + 'Request Times: ' + container.request_count + '</h5>');

            //add mark to the map
            map.addLayer(marker)
            //add mark to array
            pointsArr.push(marker)
        }

        function addTruck(truck) {
            const truckIcon = L.icon({
                iconUrl: '../static/imgs/truck.png',
                iconSize: [32, 32],
                iconAnchor: [26, 26],
            })
            //creat mark layer
            var marker = L.marker([truck.lat, truck.lng], {
                icon: truckIcon,
                id: "truck"
            })
            //add mark to the map
            map.addLayer(marker)
            //add mark to array
            truckMarker = marker
        }

        function removeMark() {
            if (pointsArr.length >= 1) {
                map.removeLayer(pointsArr.pop())
                sendRequestByAjax("removeLastContainer")
            }
        }

        function removeAllMarkers() {
            if (pointsArr.length >= 1) {
                pointsArr.forEach(function (marker) {
                    map.removeLayer(marker)
                })
                sendRequestByAjax("removeAllContainers")
            }
        }

        //Retrieves information of a point on the map
        map.on('mousemove', function (e) {
            point = {lat: e.latlng.lat, lng: e.latlng.lng}
            document.getElementById("info").innerHTML = "Latitude: " + point.lat + "<br><div style=\"margin-left: 0.7%\">" + "Longitude: " + point.lng + "</div>";
        });

        async function retrieveAPIJson(APIEndPoint) {
            const response = await fetch(APIEndPoint);
            const data = await response.json();
            return data;
        }

        async function loadContainers() {
            var jsonArray = {{ containers|safe}}; //fetch to json
            var len = jsonArray.length;
            if (len != 0) {
                while (len--) { //go to each json object
                    let jsoncontainer = jsonArray.pop()
                    let container = {
                        lat: jsoncontainer.fields.lat,
                        lng: jsoncontainer.fields.lng,
                        cust_id: jsoncontainer.pk,
                        zip_code:jsoncontainer.fields.post_code,
                        codeNum:jsoncontainer.fields.QRcode,
                        request_count:jsoncontainer.fields.request_count,
                    }
                    pointArr.push(container)
                    addMark(container, container.cust_id)
                }
            }

            color_request_containers()
        }

        function color_request_containers() {
            var jsonArray = {{ scaned_container|safe}}; //fetch to json
            var len = jsonArray.length;

            const iconContainer = L.icon({
                iconUrl: '../../static/imgs/containers/container_red.png',
                iconSize: [26, 26],
                iconAnchor: [20, 20]
            });

            if (len != 0) {
                while (len--) { //go to each json object
                    let jsoncontainer = jsonArray.pop()
                    let marker = map.getMarkerById(jsoncontainer.fields.cont_id)
                    marker.setIcon(iconContainer);
                }
            }
        }

        function removeContainer(cust_id) {
            let obj = {
                id: cust_id
            }
            sendJsonByAjax(obj, 'remove_container');
            map.removeLayer(map.getMarkerById(cust_id))
        }

        //send and return data
        async function sendRetJsonByAjax(id, functionName) {
            $j.ajax({
                type: "POST",
                url: "ajax/post/" + functionName + "/",
                data: {
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                    id
                },
                success: function (data) {
                    //data = data.slice(137) //optional
                    document.getElementById("QrImg").innerHTML = data
                    //console.log(data)
                    return data
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }

        //main
        window.onload = (event) => {
            //retrieveAPIJson(districtAPI);
            //retrieveAPIJson(addressAPI);
            loadContainers();
            {% if 'All' != selectedMap%}
                getRouteF();
            {% endif %}



        };


        function clearAllMap() {
            var lengthArray = mapLayers.length
            while (lengthArray) {
                map.removeLayer(mapLayers[lengthArray - 1].geo)
                lengthArray--
            }
            //remove truck if exist
            try {
                map.removeLayer(map.getMarkerById("truck"))
            } catch (e) {
            }
        }

        async function getRouteF() {
            var scaned_containers_coords = ""
            pointArr.forEach(value => {
                scaned_containers_coords += value.lng + ',' + value.lat + ";"
            })

            var url = "http://router.project-osrm.org/trip/v1/driving/" +
                //origin=
                "49.56138610839840,25.389902749680240;" +
                scaned_containers_coords +
                //last =
                "49.559275209903724,25.390779922007738" +
                "?roundtrip=false&source=first&destination=last&steps=true&geometries=polyline6&overview=full&annotations=false"
            await DrawAllMap(url)
        }

        var sectionLength, initialLength
        var mapLayers, summaryArr = []
        var trip_summary = document.getElementById("trip_summary")
        var truckMarker = null

        async function DrawAllMap(APIEndPoint) {
            sectionLength = 0, initialLength = 0
            mapLayers = []
            trip_summary.innerHTML = ""
            const response = await fetch(APIEndPoint);
            const data = await response.json();
            var legs_ = data.trips.pop()
            //total summary
            trip_summary.innerHTML += "<h5>Summary:" +
                "</h5><div style='margin-left: 20px; width: 400px'><p>Total Distance: " + parseInt(legs_.distance) / 1000 +
                "km</p></div><div style='margin-left: 20px; width: 400px'><p>Total Duration: " + Math.ceil(parseInt(legs_.duration) / 60) + "min(" + legs_.duration + "s)" +
                "</p></div>"
            legs_ = legs_.legs
            var tripCount = 1;
            while (legs_.length) {
                var section = legs_.pop();
                //get trips summary
                trip_summary.innerHTML += "<h5>Stop " + tripCount +
                    ":</h5><div style='margin-left: 20px; width: 400px'><p>Distance: " + parseInt(section.distance) / 1000 +
                    "km</p></div><div style='margin-left: 20px; width: 400px'><p>Duration: " + Math.round(parseInt(section.duration) / 60) + "min(" + section.duration + "s)" +
                    "</p></div><div style='margin-left: 20px; width: 400px'><p>Street Name: " + section.summary + "</p></div>"

                tripCount++;
                section = section.steps;
                while (section.length) {
                    var step = section.pop()
                    let geo = polyline.toGeoJSON(step.geometry, 6)

                    mapLayers.push({
                        geo: L.geoJSON(geo).addTo(map),
                        streetName: step.name,
                        duration: step.duration,
                        truck: geo.coordinates[0]
                    })
                }
            }
            sectionLength = mapLayers.length
            initialLength = mapLayers.length


        }
    </script>



{% endblock content %}
