{% extends 'html/command_center_base.html' %}
{% load static %}
{% block content %}
				<!-- Title -->
				<div class="row heading-bg">
					<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
						<h5 class="txt-dark">Logs</h5>
					</div>
					<!-- Breadcrumb -->
					<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
						<ol class="breadcrumb">
							<li><a href="{% url 'dashboard' %}">Home</a></li>
							<li class="active"><span>Logs</span></li>
						</ol>
					</div>
					<!-- /Breadcrumb -->
				</div>
				<!-- /Title -->
				
				<!-- Row -->
				<div class="row">
					<div class="col-sm-12">
						<div class="panel panel-default card-view">
							<div class="panel-heading">
								<div class="pull-left">
									<h6 class="panel-title txt-dark">Log In History</h6>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="panel-wrapper collapse in">
								<div class="panel-body">
									<div class="table-wrap">
										<div class="table-responsive">
											<table id="datable_1" class="table  display table-hover mb-30">
												<thead>
													<tr>
														<th>#NO</th>
														<th>Name</th>
														<th>Date</th>
														<th>Day</th>
														<th>Time</th>
													</tr>
												</thead>

												<tbody>
													<tr>
														<td>#5012</td>
														<td>System Architect</td>
														<td>2020/2/20</td>
														<td>Sunday</td>
														<td>10:30</td>
														
													</tr>
													<tr>
														<td>#5013</td>
														<td>Accountant</td>
														<td>2020/2/20</td>
														<td>Sunday</td>
														<td>10:30</td>
														
													</tr>
													<tr>
														<td>#5014</td>
														<td>Junior Technical Author</td>
														<td>2020/2/20</td>
														<td>Sunday</td>
														<td>10:30</td>
														
													</tr>
													<tr>
														<td>#5015</td>
														<td>Senior Javascript Developer</td>
														<td>2020/2/20</td>
														<td>Sunday</td>
														<td>10:30</td>
														
													</tr>
													<tr>
														<td>#5016</td>
														<td>Accountant</td>
														<td>2020/2/20</td>
														<td>Sunday</td>
														<td>10:30</td>
														
													</tr>
													<tr>
														<td>#5017</td>
														<td>Integration Specialist</td>
														<td>2020/2/20</td>
														<td>Sunday</td>
														<td>10:30</td>
														
													</tr>
													<tr>
														<td>#5017</td>
														<td>Sales Assistant</td>
														<td>2020/2/20</td>
														<td>Sunday</td>
														<td>10:30</td>
														
													<tr>
														<td>#5010</td>
														<td>Integration Specialist</td>
														<td>2020/2/20</td>
														<td>Sunday</td>
														<td>10:30</td>
														
													</tr>
													<tr>
														<td>#5011</td>
														<td>Javascript Developer</td>
														<td>2020/2/20</td>
														<td>Sunday</td>
														<td>10:30</td>
														
													</tr>
													
												</tbody>
											</table>
										</div>
									</div>	
								</div>	
							</div>
						</div>
					</div>
				</div>
				<!-- /Row -->
			
		{% endblock content %}