{% extends 'html/command_center_base.html' %}
{% load static %}
{% block content %}

    <!-- Title -->
    <div class="row heading-bg">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h5 class="txt-dark">Print</h5>
        </div>
        <!-- Breadcrumb -->
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
            <ol class="breadcrumb">
                <li><a href="{% url 'archive' %}">Archive</a></li>
                <li class="active"><span>Print QR code</span></li>
            </ol>
        </div>
        <!-- /Breadcrumb -->
    </div>
    <!-- /Title -->

    <!-- Row -->
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default card-view">
                <div class="panel-wrapper collapse in">
                    <div id="svgDiv" class="panel-body pa-15">
                        {% for i,n in Data %}
                            <div style="display: inline-block; margin-top: 12px" >
                            <div style="alignment: center">
                                <svg role="img">{{ n|safe }}</svg>
                            </div>
                            <div style="text-align: center">
                                {{ i.QRcode }}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Row -->

    <script>
    svgDiv = document.getElementById('svgDiv')

        function beforePrint() {
            document.body.style.visibility = "hidden"
            svgDiv.style.visibility = 'visible'
            svgDiv.style.position = "absolute"
            svgDiv.style.top = "0px"
            svgDiv.style.left = "0px"
        }

        function afterPrint() {
            document.body.style.visibility = ""
            svgDiv.style.visibility = ''
            svgDiv.style.position = ""
            svgDiv.style.top = ""
            svgDiv.style.left = ""
        }

        //---Chrome Browser---
        if (window.matchMedia) {
            var mediaQueryList = window.matchMedia('print');
            mediaQueryList.addListener(function (mql) {
                    if (mql.matches) {
                        beforePrint();
                    } else {
                        afterPrint();
                    }
                }
            );
        }
        //---IE & FF---
        window.onbeforeprint = beforePrint
        window.onafterprint = afterPrint;

        window.print();

    </script>

{% endblock content %}