{% extends 'html/command_center_base.html' %}
{% load static %}
{% block content %}
    <!-- Row -->
    <div class="row">
        <div class="col-lg-3 col-xs-12">
            <div class="panel panel-default card-view  pa-0">
                <div class="panel-wrapper collapse in">
                    <div class="panel-body  pa-0">

                        <div class="profile-box">

                            <div class="profile-cover-pic">
                                <div class="fileupload btn btn-default">
                                    <span class="btn-text">edit</span>
                                    <input class="upload" type="file">
                                </div>
                                <div class="profile-image-overlay"></div>
                            </div>
                            <div class="profile-info text-center">
                                <div class="profile-img-wrap">
                                    <img class="inline-block mb-10" src="dist/img/mock1.jpg" alt="user"/>
                                    <div class="fileupload btn btn-default">
                                        <span class="btn-text">edit</span>
                                        <input class="upload" type="file">
                                    </div>
                                </div>
                                <h5 class="block mt-10 mb-5 weight-500 capitalize-font txt-primary">Madalyn Rascon</h5>
                                <h6 class="block capitalize-font pb-20">Developer Geek</h6>
                            </div>

                            <div class="social-info">
                                <button class="btn btn-primary btn-block  btn-anim mt-30" data-toggle="modal"
                                        data-target="#myModal"><i class="fa fa-pencil"></i><span class="btn-text">edit profile</span>
                                </button>
                                <div id="myModal" class="modal fade in" tabindex="-1" role="dialog"
                                     aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-hidden="true">×
                                                </button>
                                                <h5 class="modal-title" id="myModalLabel">Edit Profile</h5>
                                            </div>
                                            <div class="modal-body">
                                                <!-- Row -->
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="">
                                                            <div class="panel-wrapper collapse in">
                                                                <div class="panel-body pa-0">
                                                                    <div class="col-sm-12 col-xs-12">
                                                                        <div class="form-wrap">
                                                                            <form action="#">
                                                                                <div class="form-body overflow-hide">
                                                                                    <div class="form-group">
                                                                                        <label class="control-label mb-10"
                                                                                               for="exampleInputuname_1">Name</label>
                                                                                        <div class="input-group">
                                                                                            <div class="input-group-addon">
                                                                                                <i class="icon-user"></i>
                                                                                            </div>
                                                                                            <input type="text"
                                                                                                   class="form-control"
                                                                                                   id="exampleInputuname_1"
                                                                                                   placeholder="willard bryant">
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="form-group">
                                                                                        <label class="control-label mb-10"
                                                                                               for="exampleInputEmail_1">Email
                                                                                            address</label>
                                                                                        <div class="input-group">
                                                                                            <div class="input-group-addon">
                                                                                                <i class="icon-envelope-open"></i>
                                                                                            </div>
                                                                                            <input type="email"
                                                                                                   class="form-control"
                                                                                                   id="exampleInputEmail_1"
                                                                                                   placeholder="xyz@gmail.com">
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="form-group">
                                                                                        <label class="control-label mb-10"
                                                                                               for="exampleInputContact_1">Contact
                                                                                            number</label>
                                                                                        <div class="input-group">
                                                                                            <div class="input-group-addon">
                                                                                                <i class="icon-phone"></i>
                                                                                            </div>
                                                                                            <input type="email"
                                                                                                   class="form-control"
                                                                                                   id="exampleInputContact_1"
                                                                                                   placeholder="+102 9388333">
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="form-group">
                                                                                        <label class="control-label mb-10"
                                                                                               for="exampleInputpwd_1">Password</label>
                                                                                        <div class="input-group">
                                                                                            <div class="input-group-addon">
                                                                                                <i class="icon-lock"></i>
                                                                                            </div>
                                                                                            <input type="password"
                                                                                                   class="form-control"
                                                                                                   id="exampleInputpwd_1"
                                                                                                   placeholder="Enter pwd"
                                                                                                   value="password">
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="form-group">
                                                                                        <label class="control-label mb-10">Gender</label>
                                                                                        <div>
                                                                                            <div class="radio">
                                                                                                <input type="radio"
                                                                                                       name="radio1"
                                                                                                       id="radio_1"
                                                                                                       value="option1"
                                                                                                       checked="">
                                                                                                <label for="radio_1">
                                                                                                    M
                                                                                                </label>
                                                                                            </div>
                                                                                            <div class="radio">
                                                                                                <input type="radio"
                                                                                                       name="radio1"
                                                                                                       id="radio_2"
                                                                                                       value="option2">
                                                                                                <label for="radio_2">
                                                                                                    F
                                                                                                </label>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="form-group">
                                                                                        <label class="control-label mb-10">City</label>
                                                                                        <select class="form-control"
                                                                                                data-placeholder="Choose a Category"
                                                                                                tabindex="1">
                                                                                            <option value="Category 1">
                                                                                                Al-Hufuf
                                                                                            </option>
                                                                                            <option value="Category 2">
                                                                                                Al-Damam
                                                                                            </option>
                                                                                            <option value="Category 3">
                                                                                                Dhahran
                                                                                            </option>
                                                                                            <option value="Category 4">
                                                                                                Mecca
                                                                                            </option>
                                                                                            <option value="Category 4">
                                                                                                Medina
                                                                                            </option>
                                                                                            <option value="Category 4">
                                                                                                Riyadh
                                                                                            </option>

                                                                                        </select>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="form-actions mt-10">
                                                                                    <button type="submit"
                                                                                            class="btn btn-success mr-10 mb-30">
                                                                                        Update profile
                                                                                    </button>
                                                                                </div>
                                                                            </form>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-success waves-effect"
                                                        data-dismiss="modal">Save
                                                </button>
                                                <button type="button" class="btn btn-default waves-effect"
                                                        data-dismiss="modal">Cancel
                                                </button>
                                            </div>
                                        </div>
                                        <!-- /.modal-content -->
                                    </div>
                                    <!-- /.modal-dialog -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Row -->
    {#		#}
    {#    <!-- jQuery -->#}
    {#    <script src="vendors/bower_components/jquery/dist/jquery.min.js"></script>#}
    {##}
    {#    <!-- Bootstrap Core JavaScript -->#}
    {#    <script src="vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>#}
    {#    #}
    {#	<!-- Vector Maps JavaScript -->#}
    {#    <script src="vendors/vectormap/jquery-jvectormap-2.0.2.min.js"></script>#}
    {#    <script src="vendors/vectormap/jquery-jvectormap-world-mill-en.js"></script>#}
    {#	<script src="dist/js/vectormap-data.js"></script>#}
    {#	#}
    {#	<!-- Calender JavaScripts -->#}
    {#	<script src="vendors/bower_components/moment/min/moment.min.js"></script>#}
    {#	<script src="vendors/jquery-ui.min.js"></script>#}
    {#	<script src="vendors/bower_components/fullcalendar/dist/fullcalendar.min.js"></script>#}
    {#	<script src="dist/js/fullcalendar-data.js"></script>#}
    {#	#}
    {#	<!-- Counter Animation JavaScript -->#}
    {#	<script src="vendors/bower_components/waypoints/lib/jquery.waypoints.min.js"></script>#}
    {#	<script src="vendors/bower_components/jquery.counterup/jquery.counterup.min.js"></script>#}
    {#	#}
    {#	<!-- Data table JavaScript -->#}
    {#	<script src="vendors/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>#}
    {#	#}
    {#	<!-- Slimscroll JavaScript -->#}
    {#	<script src="dist/js/jquery.slimscroll.js"></script>#}
    {#	#}
    {#	<!-- Fancy Dropdown JS -->#}
    {#	<script src="dist/js/dropdown-bootstrap-extended.js"></script>#}
    {#	#}
    {#	<!-- Sparkline JavaScript -->#}
    {#	<script src="vendors/jquery.sparkline/dist/jquery.sparkline.min.js"></script>#}
    {#	#}
    {#	<script src="vendors/bower_components/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js"></script>#}
    {#	<script src="dist/js/skills-counter-data.js"></script>#}
    {#	#}
    {#	<!-- Morris Charts JavaScript -->#}
    {#    <script src="vendors/bower_components/raphael/raphael.min.js"></script>#}
    {#    <script src="vendors/bower_components/morris.js/morris.min.js"></script>#}
    {#    <script src="dist/js/morris-data.js"></script>#}
    {#	#}
    {#	<!-- Owl JavaScript -->#}
    {#	<script src="vendors/bower_components/owl.carousel/dist/owl.carousel.min.js"></script>#}
    {#	#}
    {#	<!-- Switchery JavaScript -->#}
    {#	<script src="vendors/bower_components/switchery/dist/switchery.min.js"></script>#}
    {#	#}
    {#	<!-- Data table JavaScript -->#}
    {#	<script src="vendors/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>#}
    {#		#}
    {#	<!-- Gallery JavaScript -->#}
    {#	<script src="dist/js/isotope.js"></script>#}
    {#	<script src="dist/js/lightgallery-all.js"></script>#}
    {#	<script src="dist/js/froogaloop2.min.js"></script>#}
    {#	<script src="dist/js/gallery-data.js"></script>#}
    {#	#}
    {#	#}
    {#	<!-- Spectragram JavaScript -->#}
    {#	<script src="dist/js/spectragram.min.js"></script>#}
    {#	#}
    {#	<!-- Init JavaScript -->#}
    {#	<script src="dist/js/init.js"></script>#}
    {#	<script src="dist/js/widgets-data.js"></script>#}
{% endblock content %}