{% extends 'html/workerBase.html' %}
{% load static %}
{% block content %}
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <title>Worker</title>
        <!-- Favicon -->
        <link rel="shortcut icon" href="favicon.png">
        <link rel="icon" href="favicon.png" type="image/x-icon">

        <!-- Custom CSS -->
        <link href="dist/css/style.css" rel="stylesheet" type="text/css">

    </head>
    <body>
    <!--Preloader-->
    <div class="preloader-it">
        <div class="la-anim-1"></div>
    </div>
    <!--/Preloader-->
    {% if scaned_container %}
        <!-- Main Content -->

        <div class="container-fluid">
            <!-- Title -->
            <div class="row heading-bg">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                </div>

                <!-- Breadcrumb -->
                <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                    <ol class="breadcrumb">
                        <li><a href="#">Dashboard</a></li>
                    </ol>
                </div>
                <!-- /Breadcrumb -->

            </div>
            <!-- /Title -->

            <!-- Row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default card-view">
                        <div class="panel-heading">
                            <div class="pull-left">
                                <h6 class="panel-title txt-dark">Generated map</h6>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-wrapper collapse in">
                            <div class="panel-body">
                                <div id="mapid" style="height:500px; width: inherit;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Row -->

            <!-- Row -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default card-view">
                        <div class="panel-heading">
                            <div class="pull-left">
                                <h6 class="panel-title txt-dark">Directions</h6>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-wrapper collapse in">
                            <div class="panel-body">
                                <div class="form-wrap">
                                    <form class="form-inline">
                                        <div class="row ml-1">
                                            <div id="info" class="col-6" style="display: inline-block; margin-right: 100%">Latitude: 25.389536871253537<br> <div style="margin-left: 0.7%">Longitude: 49.5603236751334</div></div>
                                            <div id="instruct" class="col-6" style="display:inline-table;"></div>
                                        </div>
                                        <div class="col-lg-4 col-md-0 col-sm-12 col-xs-12"></div>
                                        <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12">
                                            <button type="button" onclick="nextRoute()" id="buttonNext"
                                                    style="visibility: hidden" class="btn btn-warning btn-anim"><i class="fa fa-arrow-right"></i><span class="btn-text">Next</span>
                                            </button>
                                        </div>
                                        <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12">
                                            <button type="button" id="buttonRoute" class="btn btn-success btn-anim"><i class="icon-rocket"></i><span class="btn-text">Get Shortest path</span></button>
                                        </div>

                                        <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12">
                                            <button type="button" onclick="backRoute()" id="buttonBack"
                                                    style="visibility: hidden" class="btn btn-warning btn-anim"><i
                                                    class="fa fa-arrow-left"></i><span class="btn-text">Back</span>
                                            </button>
                                        </div>
                                        <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12" style="margin-top: 0.4%">
                                                        <div class="checkbox checkbox-success checkbox-circle">
                                                            <input checked type="checkbox" id="sound">
                                                            <label id="soundLabel" for="sound">Sound</label>
                                                        </div>
                                                    </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Row -->

            <!-- Row -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default card-view">
                        <div class="panel-heading">
                            <div class="pull-left">
                                <h6 class="panel-title txt-dark">Trip Summary</h6>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-wrapper collapse in">
                            <div class="panel-body">
                                <div class="form-wrap">
                                    <form class="form-inline">
                                        <div class="row" id="trip_row" style="display: none">
                                            <div class="panel-wrapper collapse in">
                                            </div>
                                            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12" id="trip_summary"></div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Row -->

        </div>
        <!-- /Main Content -->
    {% else %}
        <div style="margin-left: 35%; margin-top: 3%"><h1>You have no Tasks for the day</h1></div>
    {% endif %}


    <script>
        $j(document).ready(function () {
            let pointArr = []
            let contLength = 0;
            let isLoading = false
            const HERE_GEOCODER_API = 'mNGUAVaZ0-6LKYHPj3Wd3S0fkiKdkUw9j5U0hmLODEA'
            //setup and load icons into array
            const colors = ['orange', 'yellow']//, 'gray', 'red', 'purple', 'green', 'blue']
            let icons = []
            for (let i = 0; i < 2; ++i) {
                icons[i] = {
                    iconUrl: '../static/imgs/containers/container_' + colors[i] + '.png',
                    iconSize: [26, 26],
                    iconAnchor: [20, 20],
                }
            }

            //creating the map
            var map = L.map('mapid', {
                center: [25.389536871253537, 49.5603236751334],
                zoom: 16
            });

            //include function to get marker
            L.Map.include({
                getMarkerById: function (id) {
                    var marker = null;
                    this.eachLayer(function (layer) {
                        if (layer instanceof L.Marker) {
                            if (layer.options.id === id) {
                                marker = layer;
                            }
                        }
                    });
                    return marker;
                }
            });

            // draw polygon in Amana
            let latlngsAmana = [[25.39005979913065, 49.55752265454977], [25.38815520107513, 49.55743145944325], [25.388207541442778, 49.561765909538735], [25.390854584270226, 49.56053316601356]]
            let amanaExit = [[25.3900481377995, 49.56115812063217], [25.39001421392065, 49.5610722899437], [25.389747668826697, 49.56115812063217], [25.389762207665182, 49.561292231082916]]
            let amanaEnter = [[25.39069753577986, 49.559243023395545], [25.3906393811618, 49.55929130315781], [25.390668458326445, 49.55944150686265], [25.390745998186674, 49.55944150686265]]

            L.polygon(latlngsAmana, {color: 'teal'}).addTo(map);
            L.polyline(amanaExit, {color: 'red'}).addTo(map);
            L.polyline(amanaEnter, {color: 'green'}).addTo(map);

            //creating tile
            atttribuation = '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/"';
            tileUrl = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
            var tiles = L.tileLayer(tileUrl, {atttribuation})
            tiles.addTo(map)

            function timeout(ms) {
                return new Promise(resolve => setTimeout(resolve, ms));
            }

            //send data to db
            async function sendJsonByAjax(jsonObj, functionName) {
                var serializedData = JSON.stringify(jsonObj);
                $.ajax({
                    type: "POST",
                    url: "ajax/post/" + functionName + "/",
                    data: {
                        csrfmiddlewaretoken: "{{ csrf_token }}",
                        serializedData
                    },
                    success: function (data) {
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            }

            //really send and return data
            async function sendRetJsonByAjaxReally(jsonObj, functionName) {
                var serializedData = JSON.stringify(jsonObj);
                var data = await $.ajax({
                    type: "POST",
                    url: "ajax/post/" + functionName + "/",
                    data: {
                        csrfmiddlewaretoken: "{{ csrf_token }}",
                        serializedData
                    },
                    success: function (data) {
                        return data
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
                return data
            }

            async function fetchByAjax(functionName) {
                let returned_data = await
                    $.ajax({
                        type: "POST",
                        url: "ajax/fetch/" + functionName + "/",
                        data: {csrfmiddlewaretoken: "{{ csrf_token }}"},
                        success: function (data) {
                            //console.log(data)
                            return data
                        },
                        error: function (error) {
                            console.log(error);
                        }
                    });
                return returned_data;
            }

            //send request to db
            async function sendRequestByAjax(functionName) {
                $j.ajax({
                    type: "POST",
                    url: "ajax/request/" + functionName + "/",
                    data: {csrfmiddlewaretoken: "{{ csrf_token }}"},
                    success: function (data) {
                        console.log(data)
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            }

            async function loadingAnimation() {
                if (isLoading) {
                    isLoading = !isLoading

                    document.getElementById("buttonRoute").disabled = false
                    document.getElementById("buttonNext").disabled = false
                    document.getElementById("buttonBack").disabled = false

                } else {
                    isLoading = !isLoading
                    activeContainer = !activeContainer

                document.getElementById("buttonRoute").disabled = true
                document.getElementById("buttonNext").disabled = true
                document.getElementById("buttonBack").disabled = true
            }
        }

        async function addMark(container, cust_id) {
            //select random number color between available colors
            const color = Math.floor(Math.random() * 2)
            //select icon from random color
            const iconContainer = L.icon(icons[color]);
            //creat mark layer
            var marker = L.marker([container.lat, container.lng], {
                icon: iconContainer,
                id: cust_id
            })

            //add mark to the map
            map.addLayer(marker)
        }

        function addTruck(truck) {
            const truckIcon = L.icon({
                iconUrl: '../static/imgs/truck.png',
                iconSize: [32, 32],
                iconAnchor: [26, 26],
            })
            //creat mark layer
            var marker = L.marker([truck.lat, truck.lng], {
                icon: truckIcon,
                id: "truck"
            })
            //add mark to the map
            map.addLayer(marker)
            //add mark to array
            truckMarker = marker
        }

        //Retrieves information of a point on the map
        map.on('mousemove', function (e) {
            point = {lat: e.latlng.lat, lng: e.latlng.lng}
            document.getElementById("info").innerHTML = "Latitude: " + point.lat + "<br>" + " Longitude: " + point.lng + "<br>";
        });

        async function retrieveAPIJson(APIEndPoint) {
            const response = await fetch(APIEndPoint);
            const data = await response.json();
            return data;
        }

        function loadContainers() {
            var jsonArray = {{ scaned_container|safe}}; //fetch to json
            var len = jsonArray.length;
            if (len != 0) {
                while (len--) { //go to each json object
                    let jsoncontainer = jsonArray.pop()
                    let container = {
                        lat: jsoncontainer.fields.lat,
                        lng: jsoncontainer.fields.lng,
                        cust_id: jsoncontainer.pk
                    }
                    pointArr.push(container)
                    contLength++;
                    addMark(container, container.cust_id)
                    color_request_containers(container.cust_id)
                }
            }

            // async function addMark(container, cust_id) {
            //     //select random number color between available colors
            //     const color = Math.floor(Math.random() * 2)
            //     //select icon from random color
            //     const iconContainer = L.icon(icons[color]);
            //     //creat mark layer
            //     var marker = L.marker([container.lat, container.lng], {
            //         icon: iconContainer,
            //         id: cust_id
            //     })

        }

        function color_request_containers(contId) {
            const iconContainer = L.icon({
                iconUrl: '../static/imgs/containers/container_red.png',
                iconSize: [26, 26],
                iconAnchor: [20, 20]
            });
            let marker = map.getMarkerById(contId)
            marker.setIcon(iconContainer);
        }

            async function retrieveAPIJson(APIEndPoint) {
                const response = await fetch(APIEndPoint);
                const data = await response.json();
                return data;
            }

            // function loadContainers() {
            //     var jsonArray =  //fetch to json
            //     var len = jsonArray.length;
            //     if (len != 0) {
            //         while (len--) { //go to each json object
            //             let jsoncontainer = jsonArray.pop()
            //             let container = {
            //                 lat: jsoncontainer.fields.lat,
            //                 lng: jsoncontainer.fields.lng,
            //                 cust_id: jsoncontainer.pk
            //             }
            //             pointArr.push(container)
            //             contLength++;
            //             addMark(container, container.cust_id)
            //             color_request_containers(container.cust_id)
            //         }
            //     }


            // }



            function collectContainer(cust_id) {
                const iconContainer = L.icon({
                    iconUrl: '../static/imgs/containers/container_yellow.png',
                    iconSize: [26, 26],
                    iconAnchor: [20, 20]
                });

                let marker = map.getMarkerById(parseInt(cust_id))
                marker.setIcon(iconContainer);
            }

            //main
            window.onload = (event) => {
                //retrieveAPIJson(districtAPI);
                //retrieveAPIJson(addressAPI);
                loadContainers();
            };

            //add container button
            var activeRoute = false;
            var routeButton = document.getElementById("buttonRoute")
            var nextButton = document.getElementById("buttonNext")
            nextButton.onclick = function () {nextRoute()}
            var backButton = document.getElementById("buttonBack")
            backButton.onclick = function () {backRoute()}
            var tripSummary = document.getElementById("trip_row")
            var instructionDev = document.getElementById("instruct")
            var sound = document.getElementById("sound")
            var soundLabel = document.getElementById("soundLabel")

            sound.style = "visibility: hidden"
            soundLabel.style = "visibility: hidden"

            routeButton.onclick = function () {
                route()
            }

            function route() {
            if (activeRoute == true) {
                activeContainer = false;
                activeRoute = !activeRoute;
                routeButton.className = "btn btn-success btn-anim"
                routeButton.innerText = "Get Shortest path"
                nextButton.style = "visibility: hidden"
                backButton.style = "visibility: hidden"
                tripSummary.style = "display: none"
                instructionDev.innerHTML += ""
                sound.style = "visibility: hidden"
                soundLabel.style = "visibility: hidden"
                try {
                    clearAllMap()
                } catch (e) {
                }
            } else {
                activeContainer = false;
                activeRoute = !activeRoute;
                routeButton.className = "btn btn-danger btn-anim"
                routeButton.innerText = "Exit Route"
                nextButton.style = ""
                backButton.style = ""
                tripSummary.style = ""
                instructionDev.innerHTML =""
                sound.style = ""
                soundLabel.style = ""

                getRouteF()
            }
        }

            async function getRouteF() {
                var scaned_containers_coords = ""
                pointArr.forEach(value => {
                    scaned_containers_coords += value.lng + ',' + value.lat + ";"
                })
                var url = "http://router.project-osrm.org/trip/v1/driving/" +
                    //origin=
                    "49.56138610839840,25.389902749680240;" +
                    scaned_containers_coords +
                    //last =
                    "49.559275209903724,25.390779922007738" +
                    "?roundtrip=false&source=first&destination=last&steps=true&geometries=polyline6&overview=full&annotations=false"
                loadingAnimation()
                await DrawAllMap(url)
            }

            var sectionLength, initialLength
            var mapLayers, summaryArr = []
            var trip_summary = document.getElementById("trip_summary")
            var truckMarker = null

            async function DrawAllMap(APIEndPoint) {
                sectionLength = 0, initialLength = 0
                mapLayers = []
                trip_summary.innerHTML = ""
                const response = await fetch(APIEndPoint);
                const data = await response.json();
                var legs_ = data.trips.pop()
                //total summary
                trip_summary.innerHTML += "<h5>Summary:" +
                    "</h5><div style='margin-left: 20px; width: 400px'><p>Total Distance: " + parseInt(legs_.distance) / 1000 +
                    "km</p></div><div style='margin-left: 20px; width: 400px'><p>Total Duration: " + Math.ceil(parseInt(legs_.duration) / 60) + "min(" + legs_.duration + "s)" +
                    "</p></div>"
                legs_ = legs_.legs
                var tripCount = 1;
                while (legs_.length) {
                    var section = legs_.pop();
                    //get trips summary
                    trip_summary.innerHTML += "<h5>Stop " + tripCount +
                        ":</h5><div style='margin-left: 20px; width: 400px'><p>Distance: " + parseInt(section.distance) / 1000 +
                        "km</p></div><div style='margin-left: 20px; width: 400px'><p>Duration: " + Math.round(parseInt(section.duration) / 60) + "min(" + section.duration + "s)" +
                        "</p></div><div style='margin-left: 20px; width: 400px'><p>Street Name: " + section.summary + "</p></div>"

                    tripCount++;
                    section = section.steps;
                    while (section.length) {
                        var step = section.pop()
                        let geo = polyline.toGeoJSON(step.geometry, 6)
                        let instructions = getInstructions(step.maneuver.type, step.maneuver.modifier, step.distance)

                        mapLayers.push({
                            geo: L.geoJSON(geo).addTo(map),
                            instruction: instructions,
                            streetName: step.name,
                            duration: step.duration,
                            truck: geo.coordinates[0]
                        })
                    }
                }
                sectionLength = mapLayers.length
                initialLength = mapLayers.length
                await loadingAnimation()
            }

            function clearAllMap() {
                var lengthArray = mapLayers.length
                while (lengthArray) {
                    map.removeLayer(mapLayers[lengthArray - 1].geo)
                    lengthArray--
                }
                //remove truck if exist
                try {
                    map.removeLayer(map.getMarkerById("truck"))
                } catch (e) {
                }

            //     nextButton.innerHTML = "Next"
            //     mapLayers = mapLayers.slice(0, sectionLength + 1);
            //     initialLength = mapLayers.length
            // }
            // //remove truck if exist
            // try {
            //     map.removeLayer(map.getMarkerById("truck"))
            // } catch (e) {
            }

            function drawMapWithGeo() {
                var lengthArray = initialLength
                while (lengthArray) {
                    mapLayers[lengthArray - 1].geo.addTo(map)
                    lengthArray--

                }
            }

            function clearPrevious() {
                if (sectionLength + 1 >= 0 && sectionLength + 1 < initialLength) {
                    map.removeLayer(mapLayers[sectionLength + 1].geo)
                    try {
                        map.removeLayer(mapLayers[sectionLength + 2].geo)
                    } catch (e) {
                    }
                }
            }

            function clearForwawrd() {
                if (sectionLength == initialLength) {
                    drawMapWithGeo()
                }
                if (sectionLength < initialLength) {
                    map.removeLayer(mapLayers[sectionLength - 1].geo)
                    try {
                        map.removeLayer(mapLayers[sectionLength - 2].geo)
                    } catch (e) {
                    }
                }
            }

            async function nextRoute() {
                var layer = mapLayers[sectionLength - 1];
                if (nextButton.innerText === "Finish Stop!") {
                    contLength--;
                    
                    try {
                        var containerId = await sendRetJsonByAjaxReally({
                            lat: layer.truck[1],
                            lng: layer.truck[0],
                        }, "collectContainer");
                        await collectContainer(containerId)
                    } catch (e) {
                    }

                    nextButton.innerHTML = "<i class=\"fa fa-arrow-right\"></i><span class=\"btn-text\">Next</span>"
                    mapLayers = mapLayers.slice(0, sectionLength + 1);
                    initialLength = mapLayers.length
                }
                //remove truck if exist
                try {
                    map.removeLayer(map.getMarkerById("truck"))
                } catch (e) {
                }

                if (initialLength == sectionLength) { //clear all map if all map have been drawn
                    clearAllMap()
                }

                if (sectionLength) { //if sections length not zero show other legs
                    layer.geo.addTo(map) //draw next route

                    if (layer.instruction === "You have Arrived to your current destination") {
                        nextButton.innerHTML = "Finish Stop!"
                    }

                    instructionDev.innerHTML = layer.instruction

                    try {
                        var layerFront = mapLayers[sectionLength - 2]
                        instructionDev.innerHTML += " then " + layerFront.instruction
                        layerFront.geo.addTo(map) //draw next route
                    } catch (e) {
                    }

                    instructionDev.innerHTML += "<br>" + layer.streetName
                    speechSynthesis.cancel()
                    if (sound.checked) {
                        talk(instructionDev.innerText)
                    }
                    addTruck({
                        lat: layer.truck[1],
                        lng: layer.truck[0],
                    })
                    sectionLength--
                    clearPrevious()
                } else {
                    route()
                    clearAllMap()
                }

            }


            async function backRoute() {
                //remove truck if exist
                try {
                    map.removeLayer(map.getMarkerById("truck"))
                } catch (e) {
                }
                if (sectionLength + 1 == initialLength) { //if sections length not zero show other legs
                    route()
                    clearAllMap()

                } else {
                    var layer = mapLayers[sectionLength + 1]
                    layer.geo.addTo(map) //draw next route
                    instructionDev.innerHTML = layer.instruction

                    try {
                        var layerFront = mapLayers[sectionLength + 2]
                        layerFront.geo.addTo(map) //draw next route
                    } catch (e) {
                    }

                    instructionDev.innerHTML += "<br>" + layer.streetName
                    speechSynthesis.cancel()
                    if (sound.checked) {
                        talk(instructionDev.innerText)
                    }
                    addTruck({
                        lat: layer.truck[1],
                        lng: layer.truck[0],
                    })
                    sectionLength++
                    clearForwawrd()
                }
            }

            function getInstructions(type, modifier, distance) {
                var action = ""
                if (modifier == null)
                    modifier = ""

                switch (type) {
                    case "turn":
                    case "fork":
                        action = "After " + parseInt(distance) + "meters " + type + " " + modifier;
                        break;

                    case "arrive":
                        action = "You have Arrived to your current destination"
                        break;

                    case "depart":
                        action = "Start your Next Destination"
                        break;

                    case "off ramp":
                        action = "Take a " + modifier + " ramp to exit a highway after " + parseInt(distance) + "meters"
                        break;
                    case "on ramp":
                        action = "Take a " + modifier + " ramp to enter a highway after " + parseInt(distance) + "meters"
                        break;


                    case "new name":
                        action = "Continue " + modifier + " for about " + parseInt(distance) + "meters"
                        break;

                    default:
                        action = capitalizeFirstLetter(type) + " " + modifier;
                }
                return action
            }

            function capitalizeFirstLetter(string) {
                return string.charAt(0).toUpperCase() + string.slice(1);
            }

            function talk(text) {
                speechSynthesis.cancel()
                var msg = new SpeechSynthesisUtterance();
                var voices = window.speechSynthesis.getVoices();
                msg.voice = voices[3];
                msg.text = text;
                speechSynthesis.speak(msg);
            }

        });

    </script>

{% endblock content %}
