{% extends 'html/userBase.html' %}
{% load static %}
{% block content %}
					<!-- Title -->
					<div class="row heading-bg">
						<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
						  <h5 class="txt-dark">Cleaning Request</h5>
						</div>
						<!-- Breadcrumb -->
						<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
						  <ol class="breadcrumb">
							<li><a href="{% url 'user_dashboard' %}">Dashboard</a></li>
							<li><a href="#"><span>New Requests</span></a></li>
							<li class="active"><span>Cleaning Request</span></li>
						  </ol>
						</div>
						<!-- /Breadcrumb -->
					</div>
					<!-- /Title -->
					
					<!-- Row -->
					<div class="row">
						<div class="col-sm-12">
							<div class="panel panel-default card-view">
								<div class="panel-heading">
									<div class="pull-left">
										<h6 class="panel-title txt-dark">New Cleaning Request</h6>
									</div>
									<div class="clearfix"></div>
								</div>
								<div class="panel-wrapper collapse in">
									<div class="panel-body">
										<form id="example-advanced-form" action="#">
											<h3><span class="number"><i class="pe-7s-note2 txt-black"></i></span><span class="head-font capitalize-font">Decription</span></h3>
											<fieldset>
												<div class="row">
													<div class="col-sm-6">
														<div class="form-wrap">
															<div class="form-group">
																<div class="input-group">
																	<div class="input-group-addon"><i class="zmdi zmdi-delete"></i></div>
																	<input type="text" class="form-control required"  name="Username" id="exampleInputuname" placeholder="Enter the bin ID">
																</div>
															</div>
														</div>
													</div>
												</div>
											</fieldset>
											<h3><span class="number"><i class="pe-7s-photo txt-black"></i></span><span class="head-font capitalize-font">Photo</span></h3>
											<fieldset>
												<div class="row">
													<div class="col-sm-6 ol-md-6 col-xs-12">
														<div class="panel panel-default card-view">
															<div class="panel-heading">
																<div class="pull-left">
																	<h6 class="panel-title txt-dark">File Upload (Default)</h6>
																</div>
																<div class="clearfix"></div>
															</div>
															<div class="panel-wrapper collapse in">
																<div class="panel-body">
																	<p class="text-muted">Just add <code>dropify</code> class in input tag.</p>
																	<div class="mt-40">
																		<input type="file" id="input-file-now" class="dropify" />
																	</div>	
																</div>
															</div>
														</div>
													</div>
                                                </div>
											</fieldset>
											<h3><span class="number"><i class="pe-7s-trash txt-black"></i></span><span class="head-font capitalize-font">Scan</span></h3>
											<fieldset>
												<div class="row">
													<div class="col-sm-6">
														<div class="form-wrap">
															<div class="form-group">
																<div class="input-group">
																	<div class="input-group-addon"><i class="zmdi zmdi-delete"></i></div>
																	<input type="text" class="form-control required"  name="Username" id="exampleInputuname" placeholder="Enter the bin ID">
																</div>
															</div>
														</div>
													</div>
												</div>
												<!-- /Row -->
											</fieldset>
										 
											<h3><span class="number"><i class="pe-7s-map-marker txt-black"></i></span><span class="head-font capitalize-font">Map</span></h3>
												<fieldset>
													<div class="row">
														<div class="col-lg-12">
															<div class="panel panel-default card-view">
																<div class="panel-heading">
																	<div class="pull-left">
																		<h6 class="panel-title txt-dark">Map </h6>
																	</div>
																	<div class="clearfix"></div>
																</div>
																<div class="panel-wrapper collapse in">
																	<div class="panel-body">
																		<div id="map_canvas" style="height:500px;"></div>
																	</div>
																</div>
															</div>
														</div>
													</div>
											</fieldset>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- /Row -->
		{% endblock content %}