{% extends 'html/userBase.html' %}
{% load static %}
{% block content %}
    <!-- Title -->
    <div class="row heading-bg">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h5 class="txt-dark">FAQ</h5>
        </div>
        <!-- Breadcrumb -->
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
            <ol class="breadcrumb">
                <li><a href="{% url 'user_dashboard' %}">Dashboard</a></li>
                <li class="active"><span>faq</span></li>
            </ol>
        </div>
        <!-- /Breadcrumb -->
    </div>
    <!-- /Title -->

    <!-- Row -->
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default card-view">
                <div class="panel-wrapper collapse in">
                    <div class="panel-body pa-15">
                        <div class="panel-group accordion-struct" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading activestate" role="tab" id="headingFive">
                                    <a role="button" data-toggle="collapse" href="#collapseFive" aria-expanded="true"
                                       aria-controls="collapseFive">Q1 ?</a>
                                </div>
                                <div id="collapseFive" class="panel-collapse collapse in" role="tabpanel"
                                     aria-labelledby="headingFive">
                                    <div class="panel-body pa-15"> text here</div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingSix">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                       href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">Q2 ?</a>
                                </div>
                                <div id="collapseSix" class="panel-collapse collapse" role="tabpanel"
                                     aria-labelledby="headingSix">
                                    <div class="panel-body pa-15">text here</div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingSeven">
                                    <a class="collapsed" role="button" data-toggle="collapse" href="#collapseSeven"
                                       aria-expanded="false" aria-controls="collapseSeven">Q3 ?</a>
                                </div>
                                <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel"
                                     aria-labelledby="headingSeven">
                                    <div class="panel-body pa-15"> text here</div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingEight">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                       href="#collapseEight" aria-expanded="false" aria-controls="collapseEight"> Q4
                                        ?</a>
                                </div>
                                <div id="collapseEight" class="panel-collapse collapse" role="tabpanel"
                                     aria-labelledby="headingEight">
                                    <div class="panel-body pa-15"> text here</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Row -->
{% endblock content %}